@import url ("https://fonts.googleapis.com/css2?
family=Poppins:wght@300:400:500:600:700:800;9008 display=swap*) ;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    overflow-x: hidden;

}

body {
    background: #fff;


}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 33px 9%;
}

header .logo {
    position: relative;
    width: 4rem;
}

.navigator{
    display: flex;
}

.navigator a {
    text-decoration: none;
    color: white;
    padding: 6px 15px;
    border: 10px;
    margin: 10px;
    font-weight: 600;
    border-radius: 20px;
    transition: all .3s ease-in-out;
    pointer-events: visibleFill;
}
.navigator a:hover,
.navigator a.active {
    background: grey;
    color: ;
}


.container {
    color: var(--color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(Desain\ tanpa\ judul.png);
    background-size: cover;
    background-position: center;
    
  /*  this is where the magic happens:  */
    background-attachment: fixed;
}
  


.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: transparent;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2r;
}
.hero-text {
    margin-left: 30vh;
}

.hero-text h5{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-bottom: 0 0 45px;
}
.hero-text h1{
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}
.hero-text p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-img img{
    margin-top: 15px;
    width: 72vh;
    height: auto;
}
.hero-text a{
    display: inline-block;
    color: white;
    background: transparent;
    backdrop-filter: blur(40px);
    border: 1px solid transparent;
    padding: 12px 30px;
    margin-top: 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    pointer-events: visibleFill;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
}

.blank,
.other {
  width: 100%;
  min-height: 30vh;
  background-color: var(--color);
}

.container-second {
  background-image:url(Desain\ tanpa\ judul.png);
  height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: ;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.card > a {
  margin-bottom: 2em;
  margin-left: 20vh;
}

.item {
  display: flex;
  max-width: 320px;
  margin-left: 20px;
  background-color: white;;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
}

.img {
  width: 90%;
  height: 200px;
  position: relative;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;;
}

.img-first {
  background-image: url(0387-0577-ezgif.com-speed.gif);
  display: block;
  transition: .5s ease-in-out;
  backface-visibility: hidden;
}

.middle {
    transition: .5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.item:hover .img {
    opacity: 0.3;
}
.item:hover .middle {
    opacity: 1;
}
.text-img1 {
    width: 10em;
    background-color: #fff;
    border-radius: 50px;
    font-size: 16px;
    padding: 16px 32px;
}
.text-card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.img-second {
  background-image: url(Capture3.PNG);
}

.img-third {
  background-image: url(Capture0.PNG);
}

.second {
  flex-direction: row;
  gap: 1.6em;
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text {
        font-size: 5px;
        margin: 0 0 15px;
    }
    .hero-text h1 {
        font-size: 30px;
    }
}
@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .container {
        padding: 0 7%;
        transition: .2s;
    }
    .hero {
        padding: 0 5%;
        transition: .2s;
    }
    .hero-text {
        font-size: 5px;
        margin: 0 0 15px;
    }
    .hero-text h1 {
        font-size: 30px;
    }
}
@media (max-width: 300px){
    .hero{
        padding: 0 5%;
        transition: .2s;
    }
    .container {
        padding: 0 7%;
        transition: .2s;
    }
    .hero-img {
        position: absolute;
        display: list-item;
        width: 20%;
        height: auto;
    }
    .container-second {
        position: relative;
        display: list-item;
        align-items: center;
        justify-content: center;
        margin: 0 0 0px;
        min-height: 100vh;
    } 
    .item {
        margin-bottom: 20px;
        padding-bottom: 20px;
        overflow: hidden;
        margin-left: 5vh;
    }
}


@media (max-width: 970px){
    .container-second {
        position: relative;
        display: list-item;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .item {
        margin-bottom: 20px;
        padding-bottom: 20px;
        overflow: hidden;
        margin-left: 12vh;
}
}
 
@media (max-width: 768px){
    .container-second {
        position: relative;
        display: list-item;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .item {
        margin-bottom: 20px;
        padding-bottom: 20px;
        overflow: hidden;
        margin-left: 12vh;
    }
}